# APP Config
PORT=8000

# Database Config

POSTGRES_USER=monirath
POSTGRES_PASSWORD=password
POSTGRES_DB=real_time_collab_notes
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL="postgresql://monirath:password@localhost:5432/real_time_collab_notes?schema=public"

# JWT Authentication
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
